@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --darkblue: #010133;
    --lightblue:#5fbff9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.error-page{
    width: 100%;
    height: 100vh;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page h1{
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}

.error-page button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: var(--lightblue);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
}

